.delete-btn{
    background-color: red;
    color: white;
    border: none;
    height: 50px;
    width:50px;
    border-radius: 20px 0px;
    margin:10px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.delete-btn:hover{
background-color: purple;
}